@model OrderFormModel

@{ 
    ViewData["Title"] = "Finish order";
}

<div class="container">
    <div class="login-form">
        <div class="main-div">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <form method="post" action="FinishOrderConfirm">
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Finish order</button>
            </form>
        </div>
    </div>
</div>