@model IEnumerable<CartItemViewModel>

@{
    ViewData["Title"] = "Shopping cart";
}

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <partial name="_ItemPartial" />
                </div>

                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>$@Model.Sum(p => p.Price * p.Quantity)</strong></h4>
                        </div>
                        @if (Model.Any())
                        {
                            <div class="col-xs-3">
                                <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="FinishOrder">
                                    Checkout
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>