form{
    background: #eee;
    display: inline-block;
}
form span{
    display: inline-block;
    width: 80px;
    background: #eee;
    margin: 10px 3px 3px 8px;
}
form input, form select{
    width: 150px;
    height: 20px;
    box-sizing: border-box;
    float: right;
    }
form select{
    margin: 1px;
}
button{
    display: block;
    margin: 10px 0 12px 98px;
    width: 80px;height: 30px;
}
