{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row">
                {% for book in books %}
                    <div class="col-md-6">
                        <article>
                            <header>
                                <h2>{{ book.name }}</h2>
                            </header>

                            <p>
                                {{ book.iSBN }}
                            </p>

                            <small class="author">
                                {{ book.author }}
                            </small>

                            <footer>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path("show_book", {id: book.id} ) }}">Open Book&raquo;</a>
                                </div>
                            </footer>
                        </article>
                    </div>
            {% endfor  %}
        </div>
    </div>

{% endblock %}

