@page
@model UserOrders
@{
    ViewData["Title"] = "My orders";
}

<div class="container">
    <div class="row">
        <h2 class="m-1" style="color: white">@ViewData["Title"]</h2>
        <table class="table table-striped table-bordered" style="background: white">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order date</th>
                    <th>Delivery date</th>
                    <th>Address</th>
                    <th>Total price</th>
                    <th>Products</th>
                </tr>
            </thead>
            @Html.DisplayFor(x => x.Input)
        </table>
    </div>
</div>